Repository sedici/DSpace, pull requests merged in 2018-12, with the labels that each got.

#25 -#4929 Se agregó lógica durante la carga con embargo para grupos excluidos
  dspace-api/src/main/java/org/dspace/submit/step/UploadStep.java
  dspace-api/src/main/java/org/dspace/submit/step/UploadWithEmbargoStep.java
Labels: enhancement, submission

#27 -#4933 Improve behaviour for mark and deletion of bots
  dspace-api/src/main/java/org/dspace/statistics/SolrLogger.java
  dspace-api/src/main/java/org/dspace/statistics/util/SpiderDetector.java
  dspace-api/src/main/java/org/dspace/statistics/util/StatisticsClient.java
  dspace/config/modules/solr-statistics.cfg
Labels: CLI, enhancement

#29 -#4978 Se corrigió el checkeo por embargo de bitstream en el item-view
  dspace/modules/xmlui/src/main/webapp/themes/Sedici2/lib/xsl/aspect/artifactbrowser/item-view.xsl
Labels: bug, xmlui

#30 #4951 Normalizar paréntesis en búsqueda de Tesauros
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/SPARQLAuthorityProvider.java
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/TesauroAuthority.java
Labels: authorities, bug
