Repository sedici/DSpace, pull requests merged in 2019-11, with the labels that each got.

#64 -#6186 No se genera más la excepción SearchServiceException en dspace.log
  dspace-api/src/main/java/org/dspace/discovery/SolrServiceImpl.java
Labels: discovery

#65 #6204 Cambiar impresión de NPE por una excepción mas entendible cuando falta atributo en una XMLWorkflow request
  dspace-xmlui/src/main/resources/aspects/XMLWorkflow/xmlworkflow.js
Labels: workflow

#66 #6136 Agrego manejo de las excepciones QueryExceptionHTTP y ExprException en la tarea de curation MetadataAuthorityQualityControl
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/curation/MetadataAuthorityQualityControl.java
Labels: CLI, authorities

#67 -#6187 DOI no queda con estado inconsistente al fallar el registro online
  dspace-api/src/main/java/org/dspace/identifier/DOIIdentifierProvider.java
Labels: CLI, doi

#68 "6278" index-discovery -f vacía el indice antes de reindexar
  dspace-api/src/main/java/org/dspace/discovery/IndexClient.java
Labels: discovery

#69 Ticket#6185 Agrego chequeos por null y mejoro respuestas al usuario en distintos casos donde se generaba una NPE
  dspace-api/src/main/java/org/dspace/xmlworkflow/WorkflowRequirementsManager.java
  dspace-api/src/main/java/org/dspace/xmlworkflow/XmlWorkflowManager.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/submission/FlowUtils.java
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/xmlworkflow/ClaimTasksAction.java
  dspace-xmlui/src/main/resources/aspects/XMLWorkflow/xmlworkflow.js
Labels: workflow
