Repository sedici/DSpace, pull requests merged in 2019-04, with the labels that each got.

#44 Ticket#5089 Se agregó página de estadisticas y botones de acceso en el home
  dspace/config/pages/estadisticasContenidoRepositorio.xml
  dspace/modules/xmlui/src/main/webapp/themes/Sedici2/Home.xsl
  dspace/modules/xmlui/src/main/webapp/themes/Sedici2/images/home_obligacion_deposito_button.png
  dspace/modules/xmlui/src/main/webapp/themes/Sedici2/images/home_statistics_button.png
  dspace/modules/xmlui/src/main/webapp/themes/Sedici2/lib/css/style.css
Labels: xmlui

#46 "#5036" Se pueden recuperar autores con filiacion sin instituciones
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/AuthorAuthority.java
Labels: authorities, bug

#45 5041 Agrego aspecto para generar Certificados PDF
  dspace-xmlui/src/main/java/org/dspace/app/xmlui/aspect/administrative/Navigation.java
  dspace/modules/xmlui/src/main/java/ar/edu/unlp/sedici/util/CertificateGenerator.java
  dspace/modules/xmlui/src/main/resources/Certificado_2019.pdf
  dspace/modules/xmlui/src/main/resources/LiberationSans-Regular.ttf
  dspace/modules/xmlui/src/main/webapp/i18n/messages.xml
  dspace/modules/xmlui/src/main/webapp/i18n/messages_es.xml
  dspace/modules/xmlui/src/main/webapp/sitemap.xmap
Labels: enhancement, xmlui

#42 -#4747 Hice un refactoring de la jerarquía de Authority Providers
  dspace/config/dspace.cfg
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/AdvancedSPARQLAuthorityProvider.java
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/AuthorAuthority.java
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/GeneralSEDICIAuthorityProvider.java
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/InstitutionAuthority.java
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/SPARQLAuthorityProvider.java
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/SimpleSPARQLAuthorityProvider.java
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/authority/TesauroAuthority.java
Labels: authorities, enhancement

#47 -#4908 -#5644 Revisar expresiones modificadas en la detección de bots
  dspace-api/src/main/java/org/dspace/statistics/SolrLogger.java
  dspace/config/modules/solr-statistics.cfg
  dspace/config/spiders/agents/COUNTER_Robots_list.txt
  dspace/config/spiders/agents/example
  dspace/config/spiders/agents/sedici_useragents
Labels: statistics

#43 Ticket#2103 Creé la tarea de curation MetadataAuthorityQualityControl
  dspace/config/modules/curate.cfg
  dspace/config/modules/metadataauthorityqualitycontrol.cfg
  dspace/modules/additions/src/main/java/ar/edu/unlp/sedici/dspace/curation/MetadataAuthorityQualityControl.java
Labels: CLI
